<h1>Sửa user tại đây</h1>
<form action="" method="post">
  <input
    type="text"
    name="name"
    placeholder="<%= user.name %>"
    value="<%= user.name %>"
  />
  <input
    type="text"
    name="email"
    placeholder="<%= user.email %>"
    value="<%= user.email %>"
  />
  <input
    type="text"
    name="status"
    placeholder="<%= user.status %>"
    value="<%= user.status %>"
  />
  <button class="btn btn-success">Lưu</button>
</form>
